<div class="container row margin-left-right-auto margin-bottom-25" [formGroup]="postForm">

  <h2 class="col-md-1 margin-top-20">{{post.id}}</h2>

  <div class="col-md-11 margin-left-right-auto clearfix border-bottom padding-0">

    <!-- Display Post title and Post Body when not on edit  mode -->
    <h3 [hidden]="post.edit">{{post.title}}</h3>
    <article><p [hidden]="post.edit">{{post.body}}</p></article>

    <!-- Display Post title and Post Body with opportunity to edit -->
    <input type="text" formControlName="title" class="form-control" placeholder="Example input" [hidden]="!post.edit" value="{{post.title}}">
    <textarea  rows="4" class="margin-top-20 margin-bottom-20 form-control" formControlName="body" placeholder="Example input" [hidden]="!post.edit">{{post.body}}</textarea>

    <button type="button" (click)="post.edit=false;delete(post)" class="btn btn-danger pull-right margin-bottom-15">Delete post</button>
    <button type="button" (click)="post.edit=true" [hidden]="post.edit" class="btn btn-primary pull-right margin-right-10 margin-bottom-15">Edit post</button>
    <button type="button" (click)="post.edit=false;update(post)" [hidden]="!post.edit" class="btn btn-success pull-right margin-right-10 margin-bottom-15">Update post</button>

  </div>

</div>
