<div class="container margin-bottom-20">

  <form [formGroup]="postForm" (ngSubmit)="onSubmit()" class="col-md-10 padding-0 margin-left-right-auto clearfix">
    <h2 style="text-align: center">Add new post:</h2>
    <div class="form-group">
      <label for="postTitle" class="font-weight-bold">Post title</label>
      <input type="text" formControlName="title" name="title" class="form-control" id="postTitle" placeholder="Example input">
      <p class="error text-danger" *ngIf="formErrors.title">{{formErrors.title}}</p>
    </div>
    <div class="form-group">
      <label for="postBody" class="font-weight-bold">Post body</label>
      <textarea formControlName="body" name="postBody" class="form-control" id="postBody" placeholder="Another input" style="resize: none" rows="5"></textarea>
      <p class="error text-danger" *ngIf="formErrors.body">{{formErrors.body}}</p>
    </div>
    <button [disabled]="postForm.invalid" type="submit" class="btn btn-success pull-right">Send post</button>
    <input type="hidden" formControlName="userId">
  </form>

</div>

<app-post *ngFor="let post of posts$ | async" [post]="post" (onEdit)="onEdit(post)" (onDelete)="onDelete(post)"></app-post>
